.btn {
  display: flex;
  justify-content: center;
}

.add-pkmn {
  background-color: red;
  color: white;
  font-size: 1rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  margin: 1.3rem;
}

.card-container {
  display: flex;
  justify-content: center;
}
.pkmn-card {
  font-size: 1.3rem;
  border-style: solid;
  border-radius: 1rem;
  border-color: blueviolet;
  background-color: rgba(137, 43, 226, 0.518);
  display: flex;
  width: 250px;
  flex-direction: column;
  padding: 1.5rem;
  margin: 1.5rem;
}

.pkmn-card p {
  align-self: center;
}
